<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Arviointitietokanta</h1>
    <p>Tervetuloa arviointitietokantaan!<br><br>Tietokannan luoja: Eliel Selmgren </a><br><br>Luojan luokkatunnus: TVT21KMO</p>
  </body>
</html>
